<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="Port" value="6689"/>
    <add key="ThreadPoolSize" value="20"/>
    <add key="IsLogging" value="true"/>
    <add key="LoggingPath" value="c:\logs"/>
    <add key="AppName" value="ShoppingWebCrawler.Host"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

</configuration>
