<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!--推广pid-->
    <add key="Pid" value="mm_31965263_9390671_60792186"/>
    <!--控制台自动清理周期（min）-->
    <add key="ConsoleCleanSpan" value="5"/>
    <add key="Port" value="10086"/>
    <add key="ThreadPoolSize" value="20"/>
    <add key="IsLogging" value="true"/>
    <add key="LoggingPath" value="c:\logs"/>
    <add key="AppName" value="ShoppingWebCrawler.Host"/>
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

</configuration>
