<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!--推广pid-->
    <add key="Pid" value="mm_31965263_6394774_21932422"/>
    <!--控制台自动清理周期（min）-->
    <add key="ConsoleCleanSpan" value="10"/>
    <!--优惠券查询是否开启缓存-->
    <add key="QuanCacheable" value="true"/>
    <!--优惠券缓存(秒)-->
    <add key="QuanCacheableTime" value="60"/>
    <!--是否log4net输出日志-->
    <add key="IsOutPutLog" value="true"/>
    <!--是否开启集群模式-->
    <add key="ClusteringMode" value="true"/>
    <!--集群子节点数量-->
    <add key="ClusterNodeCount" value="5"/>
    
    <!--Render 进程的定时回收间隔-防止过多的残留render进程，不要过快的回收(秒)-->
    <add key="RenderProcessGCLifeTime" value="60"/>
    
    <add key="AppName" value="ShoppingWebCrawler.Host"/>
    <!--PC浏览器agent-->
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36"/>
    <!--移动端浏览器agent,ipad mini-->
    <add key="MobileUserAgent" value="Mozilla/5.0 (iPad; CPU OS 9_1 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13B143 Safari/601.1"/>

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <!--<system.net>
    <defaultProxy
                    enabled = "true"
                    useDefaultCredentials = "true">
      <proxy autoDetect="False" bypassonlocal="False" proxyaddress="http://127.0.0.1:8888" usesystemdefault="False" />
    </defaultProxy>
  </system.net>-->
  
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0"/>

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
