<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

  <!-- configure scheduler-->
  <add key="quartz.scheduler.instanceName" value="DefaultQuartzScheduler" />
  <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin" />
  <add key="quartz.plugin.xml.fileNames" value="./Configs/Quartz_Jobs_001.xml" />
  <add key="quartz.plugin.xml.failOnFileNotFound" value="true" />
    <!--重新扫描配置文件的间隔时间(单位：s)-->
  <add key="quartz.plugin.xml.scanInterval" value="120" />
  <!-- configure Thread Pool-->
  <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
  <add key="quartz.threadPool.threadCount" value="10" />
  <add key="quartz.threadPool.threadPriority" value="Normal" />
  <!-- configure Job Store-->
  <add key="quartz.jobStore.misfireThreshold" value="60000" />
  <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />
 

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>